.stand {
    padding: 50px 70px 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.inputs {
    margin-right: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
