.buttonsContainer {
    display: flex;
    width: 170px;
    justify-content: space-between;
}

.clock {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.watch {
    margin-bottom: 8px;

}

.watch strong {
}

.more {
    margin-bottom: 27px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: rgba(0, 0, 0, 0.5)
}