@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

.App {
    --header_height: 60px;
    max-width: 1280px;
    margin: 0  auto;
}

.hw {
    padding-top: 24px;
    margin-left: 70px;
}

.hw10 {
    width: 200px;
    height: 200px;
}

.hwTitle {
    padding: 67px 0 10px 70px;
    /*border: 2px solid darkslategrey;*/
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    z-index: -1;
}

.hwTitle::after {
    content: '';
    position: absolute;
    width: 1280px;
    top: 104px;
    left: 0px;
    border-bottom: 1px solid #D9D9D9;
    z-index: -1;

}