.select {
    margin-right: 5px;
    min-width: 40px;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 5px 10px;

}

.select:focus {
    /*min-width: 165px;*/
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 5px 10px;
}


.option:hover {
    min-width: 165px;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 5px 10px;
}

.option {
    min-width: 40px;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 5px 10px;
}
